body {
    background-color: beige;
    justify-content: center;
    display: flex;
    align-items: center;
}

main {
    display: flex;

    height: 500px;
    width: 800px;
    border-radius: 50px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#text {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;

}

#tipka {
    justify-content: center;
    align-items: center;
    display: flex;
}